{% extends "layout.html.twig" %}
{% block title %}
	ERROR : PAGE NOT FOUND !
{% endblock %}
{% block content %}
  <h2>Pas de chance ! La page demandée n'a pas été trouvé !</h2>
  <p>Ce que vous recherchez n'existe peut-être pas <br/> ou alors vous avez mis vos pattes ou il ne fallait pas...</p>
{% endblock %}